h1 {
    display: flex;
    justify-content:center;
}
#BMI-container {
    display: flex;
    align-items:center;
    justify-content:center;
    margin:100px 500px;
    font-family:Helvetica;
    font-size:2em;
    font-weight:lighter;
    border:1px solid black;
}
#top {
    display:flex;
    justify-content:center;
    flex-direction:column;
    padding-right:100px;
}
#bottom {
    display:flex;
    justify-content:center;
}