body {
    margin:0;
    font-family: "Raleway";
    font-size: 18px;
    line-height: 1.5;
    color: #000;
}
.nav-bar{
    background: #6f95c4;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li > a:hover {
    color:rgb(4, 49, 133);
    font-weight: bold;
}
.nav-bar {
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.nav-links-container {
    display: flex;
}
.nav-icons-container {
    display:flex;
}
img {
    padding-top: 10px;
}
.nav-bar a {
    color:rgb(126, 30, 30);
    font-family:"Trebuchet MS", sans-serif;
    text-transform: uppercase;
    font-weight:lighter;
    text-decoration:none;
    text-align: center;
    padding:15px;
}