header{
    background-color:rgb(120, 165, 201)
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
a {
    font-family: Helvetica;
    text-align: center;
    padding-bottom: 50px;
}
