/* Portfoio Style Sheet


To do:
Skills Progress Bar
Landing Page
Portfolio Section


Tristan Thompson
Last Edit: 9-7-2020 by Tristan Thompson
*/


/* Nav Styles */
.nav-bar{
    background: #6f95c4;
    position:fixed;
    top: 0;
    width:100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    

}
.nav-bar a {
    color:rgb(126, 30, 30);
    font-family:"Trebuchet MS", sans-serif;
    text-transform: uppercase;
    font-weight:lighter;
    text-decoration:none;
    text-align: center;
    padding:15px;
}
.nav-links-container {
    display: flex;
}
.nav-icons-container {
    display:flex;
    align-self: flex-end;
}
li > a:hover {
    color:rgb(4, 49, 133);
    font-weight: bold;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a img {
    padding-top: 10px;
}
/* Body Styles */
main {
    padding: 150px 300px 40px 300px;
}
body {
    margin:0;
    font-family: Helvetica;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
}
h1 {
    font-weight: lighter;
    font-size: 2em;
}
footer {
    font-weight: lighter;
}
.profile-container {
    display: flex;
    flex-direction:column;
    align-items:center;
}
.profile-container p{
    margin:0;
}
.skills-bio-container{
    display:flex;
    flex-direction:row;
}
.nav-bio-container{
    flex:50%;
}
.nav-skills-container{
    flex:50%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
/* Footer Styles */
.footer-container{
    padding: 120px 200px 120px 200px;
    background-color: black;
    color:lightgray;
}
.portfolio-container {
    padding-bottom: 50vh;
    margin:0;

}

