
body {
    font-family:Helvetica;
    font-weight: lighter;
    font-size:1em;
    margin: 0;
}

nav, main > section {
    overflow: auto;
}

main > section {
    min-height: 100vh;
}

/* Nav Styles */
#nav-bar {
    justify-content:space-between;
    align-items: baseline;
    padding:1em;
    background-color:rgba(0, 0, 0, 0.5);
    display:flex;
}
nav, h1, ul {
    margin:0;
}
nav a {
    text-decoration:none;
}

nav ul {
    display:flex;
    list-style-type:none;
}

nav ul a {
    padding: 1em;

    color:white;
    text-transform:uppercase;
    font-weight:600;
    text-shadow: rgba(0, 0, 0, 0.65) 0 0 4px;
}

nav ul a:hover {
    color:red;
}

/* Section Styles */
#banner {
    background-color: #26B63E;
    background-image: url(img/banner-img.jpg);
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:center;
}
#banner img {
    justify-content:center;
}

#uncharted-info {
    background-color: #007AFF;
}

#art-gallery {
    background-color: #5856D6;
}

#naughty-dog {
    background-color: #FF00BE;
}
#naughty-dog ul {
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    align-items:flex-start;
}

#naughty-dog > h2 {
    margin:1em;
    font-size:3em;
    text-align:center;
    color:#eee;
}
.card {
    width:400px;
    margin:1em;
    background-color: #eee;
}

.card img {
    width:100%;
}

.card h3 {
    font-size:2em;
}

.card h3, .card h4, .card p {
    margin: 1rem;
    
}

#contact {
    background-color: #FF9500;
}

.parallax {
    /* image used */
    background-image:url("img/uncharted-parallax.jpg");
    /* set a specific height */
    height:500px;

    /* Create the scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}